# Ignore everything
*

# But not ignore this files and folders:
!.gitignore

!alacritty
!alacritty/alacritty.toml

!zsh
!zsh/*

!tmux
!tmux/tmux.conf

!nvim
!nvim/init.lua
!nvim/lua
!nvim/lua/core
!nvim/lua/core/*
!nvim/lua/plugins
!nvim/lua/plugins/*
!nvim/.luarc.json
